#titulo{
    text-align: center;
}
#subtitulo{
    text-align: center;
}
body{
    background-color: #5b71a0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#media1{
    width: 300px;
}
#media2{
    width: 300px;
}
#media3{
    width: 300px;
}
#volver{
    width: 200px;
    height: 200px;
}